<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h1>Student</h1>
<p>
    <a href="/create-student">Create a new student</a>
</p>
<form onchange="this.submit()">
    Search by name:
    <input type="text" name="s">
    <input type="submit" value="Search">
</form>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Birthday</td>
        <td>Address</td>
        <td>Sex</td>
        <td>Phone</td>
        <td>Classroom</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="student : ${students}">
        <tr>
            <td th:text="*{student.firstName}"></td>
            <td th:text="*{student.lastName}"></td>
            <td th:text="*{student.birthDay}"></td>
            <td th:text="*{student.address}"></td>
            <td th:text="*{student.sex}"></td>
            <td th:text="*{student.phone}"></td>
            <td th:text="*{student.classroom.name}"></td>
            <td><a th:href="@{/edit-student/__${student.id}__}">Edit</a></td>
            <td><a th:href="@{/edit-student/__${student.id}__}" onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>